<div class="panel panel-default">
	<div class="panel-heading">
		<span><i class="fa fa-bolt" style="color: #ffb400;"> $</i><%= @room.price %></span>
		<span class="pull-right">Per Hour</span>
	</div>
	<div class="panel-body">
		<%= form_for([@room, @room.reservations.new]) do |f| %>
		<!-- WILL NEED TO REMOVE END DATE -->
			<div class="row">
				<div class="col-md-6">
					<label for="">Day</label>
					<%= f.text_field :start_date, readonly: true, placeholder: "Date", class: "form-control datepicker" %>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<label for="">Day</label>
					<%= f.text_field :end_date, readonly: true, placeholder: "End Date", class: "form-control datepicker" %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<label for="">Check In Time</label>
					<%= f.text_field :start_time, readonly: true, placeholder: "Start Time", class: "form-control datepicker" %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<label for="">Check Out Time</label>
					<%= f.text_field :end_time, readonly: true, placeholder: "End Time", class: "form-control datepicker", disabled: true %>
				</div>
			</div>

			<h4="message-alert text-center"><span id="message"></span></h4>
			<div id="preview" style="display: none">
				<table class="reservation-table">
					<tbody>
						<tr>
							<td>Price</td>
							<td class="text-right">$<%= @room.price %></td>
						</tr>
						<tr>
							<td>Hour(s)</td>
							#data.conflict ajax says nights.
							<td class="text-right">$<%= @room.price %>x <span id="reservation_days"></span></td>
						</tr>
						<tr>
							<td>Total</td>
							<td class="text-right">$<%= @room.price %>
								<span class="reservation_total">$</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<br>
			<!-- WILL NEED TO REMOVE END DATES -->
			<%= f.text_field :start_date %>
			<%= f.text_field :end_date %>
			<%= f.text_field :start_time %>
			<%= f.text_field :end_time %>
			<br>
			<%= f.submit "Book Now", id: "btn_book" class: "btn btn-normal btn-block" disabled: true %>
		<% end %>
	</div>
</div>


<%= form_for([@room, @room.reservations.new]) do |f| %>
	<%= f.text_field :start_date %>
	<%= f.text_field :end_date %>
	<%= f.text_field :start_time %>
	<%= f.text_field :end_time %>

	<br>

	<%= f.submit "Book now" class: "btn btn-normal btn-block" %>

<% end %>

<script>

function checkDate(date) {
	dmy = date = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
	return [$.inArray(dmy, unavailableDates) == -1];
}

$(function() {

	unavailableDates = [];

	$.ajax({
		url: '<%= preload_room_path(@room) %>',
		dateTyp: 'json',
		success: function(data) {

			$.each(data, function(arrID, arrValue) {
				for(var d = new Date(arrValue.start_date); d <= new Date(arrValue.end_date); d.setDate(d.getDate() + 1)) {
					unavailableDates.push($.datepicker.formatDaate('d-m-yy', d));
				}
			});
			$('#reservation_start_date').datepicker({
				dateFormat: 'dd-mm-yy',
				minDate: 0,
				maxDate: '3m',
				beforeShowDay: checkDate,
				onSelect: function(selected) {
					$('#reservation_end_date').datepicker("option", "minDate", selected);
					$('#reservation_end_date').attr("disabled", false);

					var start_date = $('#reservation_start_date').datepicker('getDate');
					var end_date = $('#reservation_end_date').datepicker('getDate');
					var nites = (end_date - start_date)/1000/60/60/24 + 1;

					var input = {
						'start_date': start_date,
						'end_date': end_date
					}

					$.ajax({
						url: '<%= preview_room_path(@room) %>',
						data: input,
						success: function(data) {
							if(data.conflict) {
								$('#message').text("These dates are not available.");
								$('#preview').hide("");
								$('#btn_book').attr('disabled', true);
							} else {
								$('#message').text("");
								$('#preview').show("");
								$('#btn_book').attr('disabled', false);
								// THERE IS NO NIGHTS TO CALL TO
								var total = nights * <%= @room.price %>
								$('#reservation_nights').text(nights);
								$('#reservation_total').text(total);
							}
							}
						}
					});


				}
			});

			$('#reservation_date').datepicker({
				dateFormat: 'dd-mm-yy',
				minDate: '0',
				maxDate: '3m',
				beforeShowDay: checkDate,
				onSelect: function(selected) {
					$('#reservation_start_date').datepicker("option", "maxDate", selected);

					var start_date = $('#reservation_start_date').datepicker('getDate');
					var end_date = $('#reservation_end_date').datepicker('getDate');
					var nites = (end_date - start_date)/1000/60/60/24 + 1;;

					var input = {
						'start_date': start_date,
						'end_date': end_date
					}

					$.ajax({
						url: '<%= preview_room_path(@room) %>',
						data: input,
						success: function(data) {
							if(data.conflict) {
								$('#message').text("These dates are not available.");
								$('#preview').hide("");
								$('#btn_book').attr('disabled', true);
							} else {
								$('#message').text("");
								$('#preview').show("");
								$('#btn_book').attr('disabled', false);
								// THERE IS NO NIGHTS TO CALL TO
								var total = nights * <%= @room.price %>
								$('#reservation_nights').text(nights);
								$('#reservation_total').text(total);
							}
							}
						}
					});
				}
			});
		}
	});


	// TILL WE GET TIMEPICKER
// 	$('#reservation_start_time').timepicker({
// 		timeFormat: 'hh:mm'
// 	});
// 	$('#reservation_start_time').timpicker({
// 		timeFormat: 'hh:mm'
// 	});
// });



</script>
